<!DOCTYPE html>
<html>
<head>
	<title>Log in</title>
</head>
<body>
	<form action="" method="post">
		<input type="text" name="username" placeholder="Username"></input>
		<input type="password" name="password" placeholder="Password"></input>
		<input type="submit" value="Log in"></input>
	</form>
</body>
</html>